

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(30, 38%, 92%);
}

p {
    font-size: 14px;
}

.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.product-card {
    display: flex;
    flex-flow: column;
    width: 350px;
    height: 620px;
    border-radius: 10px;
    border: none;
    overflow: hidden;
    background-color: hsl(0, 0%, 100%);
}

.product-image img {
    width: 100%;
    height: 100%;
}

.product-description {
    display: flex;
    flex-flow: column;
    margin: 20px;
}

.product-type, .product-name {
    margin-bottom: 15px;
}

.price {
    display: flex;
}

.add-to-cart {
    margin-top: 20px;
}

.price, .product-name {
    font-family: 'Fraunces', serif;
    font-weight: 700;
}

.product-type, .product-details, .actual{
    font-family: 'Montserrat', sans-serif;
    color: hsl(228, 12%, 48%);
}

.add-to-cart {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    background-color: hsl(158, 36%, 37%);
    border: none;
    border-radius: 10px;
    height: 50px;
    color: #FFF;
    margin: 0;
}

.add-to-cart span {
    margin-left: 10px;
    font-size: larger;
}

.product-type {
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 0.9em;    
}

.product-name {
    font-size: 2em;
    line-height: 30px;
}

.product-details {
    line-height: 25px;
    margin-bottom: 40px;
    font-size: 0.95;
}

.price {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.current {
    margin-right: 20px;
    font-size: 2em;
    color: hsl(158, 36%, 37%);
}

.actual {
    text-decoration: line-through;
    font-weight: 500;
}

@media screen and (min-width: 1440px) {
    .product-card {
        flex-flow: row;
        width: 600px;
        height: 450px;
    }

    .product-image {
        width: 50%;
    }

    .product-description {
        display: flex;
        justify-content: center;
        width: 50%;
        padding: 10px;
    }

    .product-name, .product-details, .price {
        margin-bottom: 30px;
    }

    .product-details {
        font-size: 14px;
    }

    .product-type {
        font-size: 12px;
        margin-bottom: 20px;
    }
    
    .add-to-cart {
        /* margin-bottom: 20px; */
        padding: 20px;
        font-size: 0.7em;
    }
}